ul {
    
}

li {
   padding: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.clock {
    font-size: 64px;
    color: white;
    background-color: green;
}

.redButton {
    color: white;
    text-align: center;
    min-height: 48px;
    min-width: 144px;
    margin: 5px;
    background-color: rgb(125, 0, 0);
}
.redButton:disabled{
    color: grey;
    background-color: pink;
}
.greenButton{
    color: white;
    text-align: center;
    min-height: 48px;
    min-width: 144px;
    margin: 5px;
    background-color: rgb(0, 125, 0);
}
.greenButton:disabled{
    color: grey;
    background-color: lightgreen;
}
body {
    font: 16px arial, sans-serif;
}